.services-list {
    display: list-item;          
    list-style-type: disc;       
    list-style-position: inside; 
}
.dropdown-item:hover{
    background-color: lightgrey;
}
.services-icon{
    border-radius: 15px;
}
.values-list{
    list-style-type: circle;
}
.values-list > li:hover {
    background-color: lightgrey;
}
.slideshow-img{
    width: 1024px;
    height: 645px;
}
.full-width{
    height: 650px;
}
.slideshow{
    
}