.services-list {
    display: list-item;          
    list-style-type: disc;       
    list-style-position: inside; 
}
.dropdown-item:hover{
    background-color: lightgrey;
}
.services-icon{
    border-radius: 15px;
}